@using PagedList
@using PagedList.Mvc

@model IEnumerable<slnShopping.Models.tProduct>

@{
    ViewBag.Title = "商品列表";

}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>商品列表</h2>



<div class="row" style="margin-top:20px;">
    @*顯示商品*@
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/images/@item.fImg" style="width:240px ;height:300px;" />
                <div class="caption">
                    <h4>@item.fName</h4>@*商品名稱*@
                    <p></p>
                    <p>單價: @item.fPrice 元</p>@*商品價錢*@
                    <p>
                        @*加入購物車按鈕*@
                        <a href="@Url.Action("AddCar","Member")?fPId=@item.fPId"
                           class="btn btn-primary">加入購物車</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@*顯示多頁*@
@Html.PagedListPager((IPagedList)Model, page=> Url.Action("Index", new { page }))



